package components

templ Layout(title string) {
	<html>
		<head>
			<title>{ title }</title>
			<script src="/static/htmx.org@1.9.10"></script>
			<link rel="stylesheet" href="/static/output.css"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
